<header class="container">
  <info-usu></info-usu>
  <div class="content-logo">
    <logo></logo>
  </div>
</header>

<!--Contenido Menu Principal-->
<div class="container">
  <ul class="menu-principal mx-auto">

    <!--Opcion 1-->
    <li class="opcion my-4 opt1">
      <a [routerLink]="['/viajes-y-documentos/lista-viajes']" class="content">
        <div class="icon pl-4 pr-3 px-md-4">
          <i class="icon1 fas fa-file-contract"></i>
        </div>
        <div class="text-content ml-4 ml-lg-0">
          <h4 class="text-opt1">Viajes y Documentos</h4>
        </div>
      </a>
    </li>

    <!--Opcion 2-->
    <li class="opcion my-4 opt2">
      <a href="#" class="content">
        <div class="icon pl-4 pr-3 px-md-4">
          <i class="icon2 fas fa-file-invoice"></i>
        </div>
        <div class="text-content ml-4 ml-lg-0">
          <h4 class="text-opt2">Órdenes de Compra</h4>
        </div>
      </a>
    </li>

    <!--Opcion 3-->
    <li class="opcion my-4 opt3">
      <a href="#" class="content">
        <div class="icon px-2">
          <i class="icon3 fas fa-wrench"></i>
        </div>
        <div class="text-content ml-4 ml-lg-0">
          <h4 class="text-opt3 px-2">Mantenimiento de Unidades</h4>
        </div>
      </a>
    </li>

    <!--Opcion 4-->
    <li class="opcion my-4 opt4">
      <a href="#" class="content">
        <div class="icon px-2 px-md-3">
          <i class="icon4 fas fa-cubes"></i>
        </div>
        <div class="text-content ml-4 ml-lg-0">
          <h4 class="text-opt4">Almacén</h4>
        </div>
      </a>
    </li>

    <!--Opcion 5-->
    <li class="opcion my-4 opt5">
      <a href="#" class="content">
        <div class="icon">
          <i class="icon5 fas fa-truck-monster"></i>
        </div>
        <div class="text-content ml-4 ml-lg-0">
          <h4 class="text-opt5">Llantas</h4>
        </div>
      </a>
    </li>
  </ul>
  <!--Fin del Menu Principal-->
</div>