<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <!--Cierra sidebar en dispositivos moviles-->
        <div id="close" (click)="hiddenSidebar()" class="float-right">
            <i class="fas fa-times"></i>
        </div>

        <div class="sidebar-header">
            <!--Logo para PC-->
            <div class="content-logo">
                <logo></logo>
            </div>

            <!--Logo en dispositivos moviles-->
            <i class="logo-sm fas fa-truck"></i>
        </div>

        <!--Opciones de menu-->
        <ul class="list-unstyled components">
            <li>
                <a [routerLink]="['/inicio']">
                    <i class="fas fa-home"></i>Inicio
                </a>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fas fa-city mr-2 mr-lg-3 "></i>
                    Bases
                </a>

                <!--Opciones del submenu de bases-->
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">Hermosillo</a>
                    </li>
                    <li>
                        <a href="#">Manzanillo</a>
                    </li>
                    <li>
                        <a href="#">San Luis Potosí</a>
                    </li>
                </ul>
            </li>
            <li>
                <a [routerLink]="['/viajes-y-documentos/nuevo-viaje']">
                    <i class="fas fa-plus-circle"></i>
                    Nuevo Viaje
                </a>
            </li>
            <li>
                <a [routerLink]="['/viajes-y-documentos/informacion-viaje']">
                    <i class="fas fa-list-alt"></i>
                    Lista de Viajes
                </a>
            </li>
        </ul>
    </nav>

    <!-- Contenido principal-->
    <div id="content">
        <button (click)="showSidebar()" type="button" id="sidebarCollapse" class="boton">
            <i class="fas fa-align-justify fa-2x"></i>
        </button>
        <main class="container">
            <h3 class="mt-3 mb-5 text-center">INFORMACION DEL VIAJE</h3>
            <!--Contenedor que muestra la información del viaje-->
            <div>
                <div class="row mt-4 mb-5">
                    <div class="col-12">
                        <nav-button class="float-right shadow mr-5"></nav-button>
                    </div>
                </div>
                <div class="row mx-3 mx-lg-2 mt-lg-4">
                    <div class="col-12">
                        <div class="card shadow mx-lg-3">
                            <div class="card-header">Folio : </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <p><b>Base: </b> </p>
                                        <p><b>Unidad Motriz: </b> </p>
                                        <p><b>Mercancía: </b> </p>
                                        <p><b>Nombre de servicio: </b> </p>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <p><b>SAP: </b> </p>
                                        <p><b>Operador: </b> </p>
                                        <p><b>Fecha Promesa: </b> </p>
                                        <p><b>Fecha de Monitoreo: </b> </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>