.btn-nav, .btn-doc, .btn-cancel, .btn-mail, .btn-show{
    background-color:#6e7679 !important;
    color: #fff !important;
    border-radius: 0 !important;
}

.btn-nav:hover{
    background-color: #1eb2bd !important;
    color: #fff !important;
}

.btn-doc:hover{
    background-color: #007bff!important;
    color: #fff !important;
}

.btn-cancel:hover{
    background-color: #dc3545 !important;
}

.btn-mail:hover{
    background-color: #28a745 !important;
}

.btn-show:hover{
    background-color: #17a2b8 !important;
}

