<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <!--Cierra sidebar en dispositivos moviles-->
    <div id="close" (click)="hiddenSidebar()" class="float-right">
      <i class="fas fa-times"></i>
    </div>

    <div class="sidebar-header">
      <!--Logo para PC-->
      <svg class="logo" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 96.68 19.1"
        style="enable-background:new 0 0 96.68 19.1;" xml:space="preserve">
        <g>
          <path d="M9.34,10.54c-0.04,0.28-0.05,0.53-0.05,0.76L2.2,10.54H9.34z M9.54,9.17c-0.02,0.1-0.05,0.23-0.07,0.4L2.39,8.81h7.2
                    L9.54,9.17z M9.31,12.26c0.05,0.34,0.09,0.59,0.13,0.76l-7-0.76H9.31z M10.03,7.08L9.81,7.82L2.83,7.08H10.03z M10.76,5.35
                    C10.6,5.66,10.48,5.9,10.4,6.07L3.67,5.35H10.76z M9.85,14.01c0.16,0.28,0.34,0.5,0.54,0.67l-6.23-0.67H9.85z M12.47,3.62
                    c-0.35,0.22-0.62,0.41-0.81,0.59L6.16,3.62H12.47z M18.38,14.33c-1.46,0.54-2.93,0.81-4.41,0.81c-1.48,0-2.54-0.29-3.19-0.88
                    c-0.65-0.59-0.98-1.49-0.98-2.72c0-0.52,0.08-1.28,0.25-2.29c0.36-2.09,1-3.59,1.91-4.52c0.91-0.92,2.42-1.39,4.54-1.39
                    c0.46,0,1.03,0.05,1.71,0.14c0.68,0.1,1.19,0.2,1.51,0.32l-0.99,2.75c-0.9-0.17-1.73-0.25-2.48-0.25c-0.75,0-1.29,0.06-1.61,0.18
                    c-0.32,0.12-0.52,0.36-0.58,0.72l-0.88,5.09h1.13c0.41,0,0.71-0.04,0.91-0.13c0.2-0.09,0.33-0.3,0.39-0.62l0.09-0.49h-0.86
                    l0.49-2.75h4.12L18.38,14.33z" />
          <path d="M22.77,14.8l-7.38-0.79h7.72L22.77,14.8z M23.51,13.06l-7.38-0.79h7.72L23.51,13.06z M24.25,11.33l-7.38-0.79h7.7
                    L24.25,11.33z M24.97,9.6L17.6,8.81h7.7L24.97,9.6z M25.7,7.87l-7.36-0.79h7.69L25.7,7.87z M26.42,6.13l-7.34-0.77h7.67L26.42,6.13
                    z M27.16,4.4l-7.34-0.77h7.67L27.16,4.4z M27.16,4.4l0.32-0.77h-7.67L27.16,4.4z M26.95,14.87h-3.6l4.73-11.25h5.29l0.79,11.25
                    h-3.62l-0.07-1.78h-2.83L26.95,14.87z M30.2,10.23V7.08h-0.18l-1.26,3.15H30.2z" />
          <path d="M38.97,6.16l-7.63-0.81h7.76L38.97,6.16z M39.26,4.43l-7.61-0.81h7.76L39.26,4.43z M39.91,14.82l-7.63-0.81h7.78
                    L39.91,14.82z M40.21,13.07l-7.63-0.81h7.78L40.21,13.07z M40.52,11.35l-7.63-0.81h7.78L40.52,11.35z M40.82,9.62l-7.63-0.81h7.78
                    L40.82,9.62z M41.13,7.89L33.5,7.08h7.78L41.13,7.89z M47.83,6.5h-2.48l-1.46,8.37h-3.42l1.46-8.37h-2.47l0.52-2.88h8.37L47.83,6.5
                    z" />
          <path d="M50.8,14.82l-7.63-0.81h7.78L50.8,14.82z M51.1,13.07l-7.63-0.81h7.78L51.1,13.07z M51.41,11.35l-7.63-0.81h7.78
                    L51.41,11.35z M51.71,9.62l-7.63-0.81h7.78L51.71,9.62z M52.02,7.89l-7.63-0.81h7.78L52.02,7.89z M52.33,6.16l-7.63-0.81h7.76
                    L52.33,6.16z M52.61,4.43L45,3.62h7.76L52.61,4.43z M58.91,10.63h-3.42l-0.23,1.37h4.19l-0.5,2.88h-7.61l1.98-11.25h7.52L59.9,6.5
                    h-3.69l-0.25,1.51h3.42L58.91,10.63z" />
          <path d="M65.38,7.89l-7.63-0.81h7.76C65.44,7.32,65.4,7.59,65.38,7.89z M57.76,14.01h6.46l-0.27,0.79L57.76,14.01z M65.38,8.81
                    c0.02,0.32,0.07,0.59,0.14,0.81l-7.61-0.81H65.38z M58.07,12.26h6.73l-0.27,0.79L58.07,12.26z M65.99,5.35l-0.27,0.79l-7.47-0.79
                    H65.99z M67.9,11.35l-9.52-0.81h7.76C66.53,10.92,67.12,11.19,67.9,11.35z M67.34,3.62c-0.28,0.18-0.54,0.43-0.79,0.74L59.6,3.62
                    H67.34z M65.57,11.71c1.01,0.28,1.93,0.41,2.76,0.41c0.83,0,1.51-0.04,2.04-0.11l0.14-0.9l-1.49-0.14
                    c-1.14-0.11-1.95-0.37-2.42-0.77c-0.47-0.41-0.71-0.98-0.71-1.73c0-0.32,0.04-0.68,0.11-1.08c0.28-1.54,0.78-2.59,1.51-3.17
                    c0.73-0.58,1.86-0.86,3.38-0.86c1.52,0,2.86,0.15,4.02,0.45l-0.94,2.88c-1.04-0.18-1.88-0.27-2.51-0.27S70.3,6.44,69.84,6.5
                    L69.7,7.39l1.21,0.13c1.22,0.13,2.09,0.42,2.61,0.87c0.52,0.45,0.77,1.05,0.77,1.81c0,0.77-0.16,1.56-0.49,2.38
                    c-0.18,0.42-0.37,0.77-0.57,1.05s-0.45,0.52-0.76,0.72s-0.58,0.35-0.84,0.45s-0.58,0.18-0.97,0.22c-0.55,0.08-1.24,0.13-2.05,0.13
                    c-1.49,0-2.84-0.16-4.05-0.47L65.57,11.71z" />
        </g>
        <g>
          <g>
            <path d="M94.33,12.14v0.75c0,0.21-0.18,0.38-0.41,0.38h-1.23c0,1.24-1.1,2.25-2.46,2.25c-1.36,0-2.46-1.01-2.46-2.25h-3.28
                      c0,1.24-1.1,2.25-2.46,2.25c-1.36,0-2.46-1.01-2.46-2.25h-0.41c-0.68,0-1.23-0.5-1.23-1.13v-7.5c0-0.62,0.55-1.13,1.23-1.13h8.21
                      c0.68,0,1.23,0.5,1.23,1.13v1.13h1.13c0.33,0,0.64,0.12,0.87,0.33l2.56,2.34c0.23,0.21,0.36,0.5,0.36,0.79v2.53h0.41
                      C94.15,11.77,94.33,11.94,94.33,12.14z M83.25,13.27c0-0.62-0.55-1.13-1.23-1.13c-0.68,0-1.23,0.5-1.23,1.13s0.55,1.13,1.23,1.13
                      C82.7,14.39,83.25,13.89,83.25,13.27z M92.28,9.23l-2.56-2.34h-1.13v2.62h3.69V9.23z M91.46,13.27c0-0.62-0.55-1.13-1.23-1.13
                      c-0.68,0-1.23,0.5-1.23,1.13s0.55,1.13,1.23,1.13C90.91,14.39,91.46,13.89,91.46,13.27z" />
          </g>
        </g>
      </svg>

      <!--Logo en dispositivos moviles-->
      <i class="logo-sm fas fa-truck"></i>
    </div>

    <!--Opciones de menu-->
    <ul class="list-unstyled components">
      <li>
        <a [routerLink]="['/inicio']">
          <i class="fas fa-home"></i>Inicio
        </a>
      </li>
      <li>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-city mr-2 mr-lg-3 "></i>
          Bases
        </a>

        <!--Opciones del submenu de bases-->
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
            <a href="#">Hermosillo</a>
          </li>
          <li>
            <a href="#">Manzanillo</a>
          </li>
          <li>
            <a href="#">San Luis Potosí</a>
          </li>
        </ul>
      </li>
      <li>
        <a [routerLink]="['/viajes-y-documentos/nuevo-viaje']">
          <i class="fas fa-plus-circle"></i>
          Nuevo Viaje
        </a>
      </li>
      <li>
        <a [routerLink]="['/viajes-y-documentos/lista-viajes']">
          <i class="fas fa-list-alt"></i>
          Lista de Viajes
        </a>
      </li>
    </ul>
  </nav>

  <!-- Contenido principal-->
  <div id="content">
    <button (click)="showSidebar()" type="button" id="sidebarCollapse" class="boton">
      <i class="fas fa-align-justify fa-2x"></i>
    </button>
    <main class="container">
      <h3 class="mt-3 mb-5 text-center">NUEVO VIAJE</h3>

      <div class="card mt-5 mx-md-5">
        <div class="card-header">FOLIO: ####</div>
        <div class="card-body">
          <form #formNuevoViaje="ngForm" (ngSubmit)="onSubmit()">

            <!--Renglon 1 - PC-->
            <div class="form-row my-lg-3">
              <!--Campo cliente-->
              <div class="col-12 col-lg-6 mb-3">
                <div class="input-group">
                  <div class="input-group-prepend ">
                    <span class="input-group-text"><i class="fas fa-user px-2"></i></span>
                  </div>
                  <select class="form-control" id="cliente" name="cliente">
                    <option value="0">CLIENTE</option>
                  </select>
                </div>
              </div>
              <!--Campo bases-->
              <div class="col-12 col-lg-6 mb-3">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-city"></i></span>
                  </div>
                  <select class="form-control" id="base" name="base">
                    <option value="0">BASE</option>
                  </select>
                </div>
              </div>
            </div>

            <!--Renglon 2 - PC-->
            <div class="form-row mb-lg-3">
              <!--Campo mercancia-->
              <div class="col-12 col-lg-6 mb-3">
                <div class="input-group">
                  <div class="input-group-prepend ">
                    <span class="input-group-text"><i class="fas fa-box-open"></i></span>
                  </div>
                  <select class="form-control" id="mercancia" name="mercancia">
                    <option value="0">MERCANCIA</option>
                  </select>
                </div>
              </div>
              <!--Campo servicio-->
              <div class="col-12 col-lg-6 mb-3">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-concierge-bell px-1"></i></span>
                  </div>
                  <select class="form-control" id="servicio" name="servicio">
                    <option value="0">SERVICIO</option>
                  </select>
                </div>
              </div>
            </div>

            <!--Renglon 2 - PC-->
            <div class="form-row mb-lg-3">
              <!--Campo cantidad-->
              <div class="col-12 col-lg-6 mb-3">
                <div class="input-group">
                  <div class="input-group-prepend ">
                    <span class="input-group-text"><i class="fas fa-cubes px-1"></i></span>
                  </div>
                  <input type="text" class="form-control" name="cantidad" placeholder="CANTIDAD" required>
                </div>
              </div>
              <!--Campo cantidad-->
              <div class="col-12 col-lg-6 mb-3">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-balance-scale"></i></span>
                  </div>
                  <input type="text" class="form-control" name="peso" placeholder="PESO KG" required>
                </div>
              </div>
            </div>

            <!--Renglon 3 - PC-->
            <div class="form-row mb-lg-3">
              <!--Campo Unidad Motriz-->
              <div class="col-12 col-lg-6 mb-3">
                <div class="input-group">
                  <div class="input-group-prepend ">
                    <span class="input-group-text"><i class="fas fa-truck-pickup"></i></span>
                  </div>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option value="0">UNIDAD MOTRIZ</option>
                  </select>
                </div>
              </div>
              <!--Campo arrastre-->
              <div class="col-12 col-lg-6 mb-3">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-dolly-flatbed"></i></span>
                  </div>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option value="0">ARRASTRE</option>
                  </select>
                </div>
              </div>
            </div>

            <!--Renglon 4 - PC-->
            <div class="form-row mb-lg-3">
              <!--Campo operador-->
              <div class="col-12 col-lg-6 mb-3">
                <div class="input-group">
                  <div class="input-group-prepend ">
                    <span class="input-group-text"><i class="fas fa-user px-2"></i></span>
                  </div>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option value="0">OPERADOR</option>
                  </select>
                </div>
              </div>
              <!--Campo proveedor-->
              <div class="col-12 col-lg-6 mb-3">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-gas-pump px-1"></i></span>
                  </div>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option>PROVEEDOR DE COMBUSTIBLE</option>
                  </select>
                </div>
              </div>
            </div>

            <!--Renglon 5 - PC-->
            <div class="form-row mb-lg-3">
              <!--Campo SAP-->
              <div class="col-6 col-lg-3 mb-3">
                <div class="input-group">
                  <div class="input-group-prepend ">
                    <span class="input-group-text">SAP</span>
                  </div>
                  <input type="text" class="form-control" name="sap" placeholder="SAP" required>
                </div>
              </div>
              <!--Campo Delivery-->
              <div class="col-6 col-lg-3 mb-3">
                <div class="input-group">
                  <div class="input-group-prepend group">
                    <span class="input-group-text group-dev">DELIVERY</span>
                  </div>
                  <input type="text" class="form-control" name="delivery" placeholder="DELIVERY" required>
                </div>
              </div>
              <!--Campo SID-->
              <div class="col-6 col-lg-3 mb-3">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text px-3">SID</span>
                  </div>
                  <input type="text" class="form-control" name="sid" placeholder="SID" required>
                </div>
              </div>
              <!--Campo Sellos-->
              <div class="col-6 col-lg-3 mb-3">
                <div class="input-group">
                  <div class="input-group-prepend group">
                    <span class="input-group-text px-3 px-md-4">SELLOS</span>
                  </div>
                  <input type="text" class="form-control" name="sello" placeholder="SELLOS" required>
                </div>
              </div>
            </div>

            <!--Renglon 6 - PC-->
            <div class="form-row mb-lg-3">
              <!--Campo fecha promesa-->
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="fecha-promesa" class="col-form-label">FECHA PROMESA</label>
                  <div class="input-group">
                    <div class="input-group-append">
                      <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                    </div>
                    <input class="form-control" type="date" id="fecha-promesa">
                  </div>
                </div>
              </div>
              <!--Campo fecha monitoreo-->
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="fecha-monitoreo" class="col-form-label">FECHA MONITOREO</label>
                  <div class="input-group">
                    <div class="input-group-append">
                      <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                    </div>
                    <input class="form-control" type="date" id="fecha-monitoreo">
                  </div>
                </div>
              </div>
              <!--Campo hora monitoreo-->
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="hora-monitoreo" class="col-form-label">HORA DE MONITOREO</label>
                  <div class="input-group">
                    <div class="input-group-append">
                      <div class="input-group-text"><i class="fas fa-clock"></i></div>
                    </div>
                    <input class="form-control" type="time" id="hora-monitoreo">
                  </div>
                </div>
              </div>
            </div>

            <!--Renglon 7 - PC-->
            <div class="form row">
              <div class="col-12 text-center mt-3">
                <input (click)="redirigir()" class="btn btn-success px-5" type="submit" value="Crear">
              </div>
            </div>
          </form>
        </div>
      </div>
    </main>
  </div>
</div>